@page "/Finance/Pages/LoanAgreements/LoanAgreementEditPage/{LoanId:guid}"

<PageTitle>Edit Loan Agreement</PageTitle>

<DataEntryForm ReturnUri=@_returnUri SnackBarMessage=@_snackBarMessage WriteModel=@_state FormTitle=@_formTitle
    SaveClickedEventHandler=@Save>
    <DataEntryFieldsTemplate>
        <Tabs SelectedTab="@_selectedTab" SelectedTabChanged="@OnSelectedTabChanged" Justified Pills=true>
            <Items>
                <Tab Name="loanInfo">Loan Agreement Details</Tab>
                <Tab Name="loanInstallmentInfo">Loan Amortization Schedule</Tab>
            </Items>
            <Content>
                <TabPanel Name="loanInfo">
                    <Row Margin="Margin.Is3.FromTop">
                        <Column ColumnSize="ColumnSize.Is4">
                            <Field>
                                <FieldLabel TextWeight="TextWeight.Bold">Loan Number</FieldLabel>
                                <TextEdit Text=@_selectedLoanNumber ReadOnly />
                            </Field>
                        </Column>
                        <Column>
                            <Validation HandlerType="HandlerTypes.FluentValidation">
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Creditor</FieldLabel>
                                    <Select TValue="Guid" @bind-SelectedValue=@_state.LoanWriteModel!.FinancierId>
                                        <ChildContent>
                                            <SelectItem Value=@Guid.Empty>-- Select Creditor --</SelectItem>
                                            @foreach (var creditor in _state.Financiers)
                                            {
                                                <SelectItem Value=@creditor.FinancierId>@creditor.FinancierName</SelectItem>
                                            }
                                        </ChildContent>
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </Select>
                                </Field>
                            </Validation>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Validation HandlerType="HandlerTypes.FluentValidation">
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Principal</FieldLabel>
                                    <NumericPicker TValue="decimal" CurrencySymbol="$" Placeholder="Required"
                                        @bind-Value=@_state.LoanWriteModel!.LoanAmount>
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </NumericPicker>
                                </Field>
                            </Validation>
                        </Column>
                        <Column>
                            <Validation HandlerType="HandlerTypes.FluentValidation">
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Interest Rate</FieldLabel>
                                    <NumericPicker TValue="decimal" Placeholder="Required" Decimals="3"
                                        @bind-Value=@_state.LoanWriteModel!.InterestRate>
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </NumericPicker>
                                </Field>
                            </Validation>
                        </Column>
                        <Column>
                            <Validation HandlerType="HandlerTypes.FluentValidation">
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Number of Installments</FieldLabel>
                                    <NumericPicker TValue="int" Placeholder="Required" Min=1 Decimals="0"
                                        @bind-Value=@_state.LoanWriteModel!.NumberOfInstallments>
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </NumericPicker>
                                </Field>
                            </Validation>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Validation HandlerType="HandlerTypes.FluentValidation">
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Loan Date</FieldLabel>
                                    <DateEdit TValue="DateTime" @bind-Date="@_state.LoanWriteModel!.LoanDate">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </DateEdit>
                                </Field>
                            </Validation>
                        </Column>
                        <Column>
                            <Validation HandlerType="HandlerTypes.FluentValidation">
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Maturity Date</FieldLabel>
                                    <DateEdit TValue="DateTime" @bind-Date="@_state.LoanWriteModel!.MaturityDate">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </DateEdit>
                                </Field>
                            </Validation>
                        </Column>
                    </Row>
                </TabPanel>
                <TabPanel Name="loanInstallmentInfo">
                    <Row Margin="Margin.Is3.FromTop">
                        @if (_state.LoanWriteModel.AmortizationSchedule is not null &&
                        _state.LoanWriteModel.AmortizationSchedule.Any())
                        {
                            <br />
                            <BasicGrid Items=@_state.LoanWriteModel.AmortizationSchedule>
                                <TableHeader>
                                    <th style="text-align:center">#</th>
                                    <th style="text-align:center">Due Date</th>
                                    <th style="text-align:center">Payment.</th>
                                    <th style="text-align:center">Principal</th>
                                    <th style="text-align:center">Interest</th>
                                    <th style="text-align:center">Balance</th>
                                    <th style="text-align:center">Actions</th>
                                </TableHeader>
                                <RowTemplate Context="installment">
                                    <td style="text-align:center">@installment.InstallmentNumber</td>
                                    <td style="text-align:center">
                                        @installment.PaymentDueDate.ToShortDateString()</td>
                                    <td style="text-align:center">
                                        @installment.PaymentAmount.ToString("N2")</td>
                                    <td style="text-align:center">
                                        @installment.PrincipalPymtAmount.ToString("N2")
                                    </td>
                                    <td style="text-align:center">@installment.InterestPymtAmount.ToString("N2")
                                    </td>
                                    <td style="text-align:center">
                                        @installment.PrincipalRemaining.ToString("N2")
                                    </td>
                                    <td style="text-align:center">
                                        <Dropdown Direction="Direction.Up">
                                            <DropdownToggle Outline Size="Size.ExtraSmall" Color="Color.Primary"
                                            ToggleIconVisible="false">
                                                <span class="btn-label"><i class="fas fa-ellipsis-v"
                                                    aria-hidden="true"></i></span>
                                            </DropdownToggle>
                                            <DropdownMenu class="border border-dark rounded-3 shadow-lg">
                                                <DropdownItem
                                                Clicked="@( () => OnActionItemClicked("edit", @installment.LoanInstallmentId) )">
                                                    Edit
                                                </DropdownItem>
                                                <DropdownItem
                                                Clicked="@( () => OnActionItemClicked("delete", @installment.LoanInstallmentId) )">
                                                    Delete
                                                </DropdownItem>
                                            </DropdownMenu>
                                        </Dropdown>
                                    </td>
                                </RowTemplate>
                            </BasicGrid>
                        }
                        else
                        {
                            <Paragraph>
                                This loan does not have a amortization schedule.
                            </Paragraph>
                        }
                    </Row>
                </TabPanel>
            </Content>
        </Tabs>
    </DataEntryFieldsTemplate>
</DataEntryForm>
