@page "/Finance/Pages/LoanAgreements/LoanAgreementsPage"
@using PipefittersAccounting.UI.Components.Common
@using PipefittersAccounting.UI.Finance.Components
@using Blazorise.Snackbar

<PageTitle>Loan Agreements</PageTitle>

<Heading TextColor="TextColor.Dark" Size="HeadingSize.Is5" Margin="Margin.Is3.FromStart.Is4.FromTop">
    Loan Agreements
</Heading>

<ErrorBoundary>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <a href="/Finance/Pages/LoanAgreements/LoanAgreementCreatePage"
                                class="btn btn-labeled btn-lg btn-outline-primary rounded-pill" role="button">
                                <span class="btn-label"><i class="fas fa-plus"></i></span>
                            </a>
                        </div>
                        <div class="col-md-5">
                            <SingleFieldGridSearch PlaceHolderText=@_placeHolderTextForSearch
                                OnSearchTermChangedEventHandler=@SearchChanged />
                        </div>
                    </div>
                </CardHeader>
                <CardBody>
                    @if (_loanAgreementList is not null && _loanAgreementList.Any())
                    {
                        <BasicGrid Items=_loanAgreementList>
                            <TableHeader>
                                <th>Loan #</th>
                                <th>Creditor</th>
                                <th style="text-align:center">Principal</th>
                                <th style="text-align:center">Int. Rate</th>
                                <th style="text-align:center">Loan Date</th>
                                <th style="text-align:center">Maturity Date</th>
                                <th style="text-align:center">Installments</th>
                                <th style="text-align:center">Actions</th>
                            </TableHeader>
                            <RowTemplate Context="loan">
                                <td>@loan.LoanNumber</td>
                                <td>@loan.FinancierName</td>
                                <td style="text-align:center">@(string.Format("{0:n2}", loan.LoanAmount))</td>
                                <td style="text-align:center">@(string.Format("{0:p3}", loan.InterestRate))</td>
                                <td style="text-align:center">@loan.LoanDate.ToShortDateString()</td>
                                <td style="text-align:center">@loan.MaturityDate.ToShortDateString()</td>
                                <td style="text-align:center">@loan.NumberOfInstallments</td>
                                <td style="text-align:center">
                                    <Dropdown Direction="Direction.Up">
                                        <DropdownToggle Outline Size="Size.ExtraSmall" Color="Color.Primary"
                                        ToggleIconVisible="false">
                                            <span class="btn-label"><i class="fas fa-ellipsis-v"
                                                aria-hidden="true"></i></span>
                                        </DropdownToggle>
                                        <DropdownMenu class="border border-dark rounded-3 shadow-lg">
                                            <DropdownItem Clicked="@( () => ShowDetailDialog(@loan.LoanId) )">
                                                Details
                                            </DropdownItem>
                                            <DropdownItem Clicked="@( () => OnActionItemClicked("Edit", @loan.LoanId) )">
                                                Edit
                                            </DropdownItem>
                                            <DropdownItem Disabled=@( loan.LoanProceedsAmount > 0 )
                                            Clicked="@( () => GetLoanAgreement(@loan.LoanId) )">
                                                Delete
                                            </DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </td>
                            </RowTemplate>
                        </BasicGrid>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    }
                </CardBody>
                <CardFooter>
                    <CascadingValue Name="MetaData" Value=@_metaData>
                        <CascadingValue Name="PagerChangedEventHandler" Value=@_pagerChangedEventHandler>
                            <DynamicPager />
                        </CascadingValue>
                    </CascadingValue>

                    <Snackbar @ref="_snackbar" DefaultInterval=2000>
                        <SnackbarBody>
                            @_snackBarMessage
                        </SnackbarBody>
                    </Snackbar>
                </CardFooter>
            </Card>
        </Column>
    </Row>
</ErrorBoundary>

<LoanAggreementDetailDialog LoanId=@_selectedLoanId />