@inject ILogger<EmployeeTable> logger

<Row>
    <!-- Search component here -->
</Row>
<Row>
    @if (Employees is not null && Employees.Any())
    {
        <Table Bordered Striped Hoverable Narrow Responsive>
            <TableHeader ThemeContrast="ThemeContrast.Light">
                <TableRow>
                    <TableHeaderCell>Name</TableHeaderCell>
                    <TableHeaderCell>Telephone</TableHeaderCell>
                    <TableHeaderCell>Active?</TableHeaderCell>
                    <TableHeaderCell>Manager?</TableHeaderCell>
                    <TableHeaderCell>Manager Name</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (var listItem in Employees)
                {
                    <TableRow>
                        <TableRowCell>@listItem.EmployeeFullName</TableRowCell>
                        <TableRowCell>@listItem.Telephone</TableRowCell>
                        <TableRowCell>@(listItem.IsActive ? "Yes" : "No")</TableRowCell>
                        <TableRowCell>@(listItem.IsSupervisor ? "Yes" : "No")</TableRowCell>
                        <TableRowCell>@listItem.ManagerFullName</TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>

        <DynamicPager PageChangedCallback=@HandleCurrentPageChanged MetaData=@MetaData />
    }
    else
    {
        <span>Loading employee list</span>
    }
</Row>
<Row>
    <!-- Pager component here -->
</Row>
