@inject ILogger<EmployeeTable> logger

<Row>
    <!-- Search component here -->
</Row>
<Row>
    @if (Employees is not null && Employees.Any())
    {
        <Table Bordered Striped Hoverable Narrow Responsive>
            <TableHeader ThemeContrast="ThemeContrast.Light">
                <TableRow>
                    <TableHeaderCell>Name</TableHeaderCell>
                    <TableHeaderCell>Telephone</TableHeaderCell>
                    <TableHeaderCell>Active?</TableHeaderCell>
                    <TableHeaderCell>Manager?</TableHeaderCell>
                    <TableHeaderCell>Manager Name</TableHeaderCell>
                    <TableHeaderCell>Actions</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (var listItem in Employees)
                {
                    <TableRow>
                        <TableRowCell>@listItem.EmployeeFullName</TableRowCell>
                        <TableRowCell>@listItem.Telephone</TableRowCell>
                        <TableRowCell>@(listItem.IsActive ? "Yes" : "No")</TableRowCell>
                        <TableRowCell>@(listItem.IsSupervisor ? "Yes" : "No")</TableRowCell>
                        <TableRowCell>@listItem.ManagerFullName</TableRowCell>
                        <TableRowCell>
                            <Dropdown>
                                <DropdownToggle Outline Size="Size.ExtraSmall" Color="Color.Primary">
                                    ...
                                </DropdownToggle>
                                <DropdownMenu>
                                    <DropdownItem Clicked="@( () => OnMenuItemClicked("ShowDetails") )">Details</DropdownItem>
                                    <DropdownItem Clicked="@( () => OnMenuItemClicked("EditEmployee") )">Edit</DropdownItem>
                                    <DropdownItem Clicked="@( () => OnMenuItemClicked("DeleteEmployee") )">Delete</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    }
    else
    {
        <span>Loading employee list...</span>
    }
</Row>
<Row>
    <Column>
        <DynamicPager />
    </Column>
</Row>
