@inherits FluxorComponent

@page "/Finance/Pages/StockSubscriptions/StockSubscriptionsPage"
@using PipefittersAccounting.UI.Components.Common
@using Blazorise.Snackbar

<PageTitle>Stock Subscriptions</PageTitle>

<Heading TextColor="TextColor.Dark" Size="HeadingSize.Is5" Margin="Margin.Is3.FromStart.Is4.FromTop">
    Stock Subscriptions
</Heading>

<ErrorBoundary>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <div class="row align-items-center">
                        <CreateResourceLink Uri=@_stockSubscriptionState!.Value.CreatePagePath />
                        <div class="col-md-5">
                            <SingleFieldGridSearch PlaceHolderText=@_placeHolderTextForSearch
                                OnSearchTermChangedEventHandler=@SearchChanged />
                        </div>
                    </div>
                </CardHeader>
                <CardBody>
                    @if (_stockSubscriptionState!.Value.IsLoading)
                    {
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    }
                    else if (_stockSubscriptionState!.Value.HasCurrentErrors ||
                    _stockSubscriptionState.Value.StockSubscriptionList is null)
                    {
                        <div class="d-flex flex-column align-items-center">
                            <span>Whoops! Looks like an issue occurred while loading stock subscriptions :(</span>
                        </div>
                    }
                    else if (_stockSubscriptionState.Value.StockSubscriptionList is not null)
                    {
                        <BasicGrid Items=_stockSubscriptionState!.Value.StockSubscriptionList!.Items>
                            <TableHeader>
                                <th>Stock #</th>
                                <th>Investor</th>
                                <th style="text-align:center">Issued On</th>
                                <th style="text-align:center">Shares Issued</th>
                                <th style="text-align:center">Share Price</th>
                                <th style="text-align:center">Amt Received</th>
                                <th style="text-align:center">Received On</th>
                                <th style="text-align:center">Actions</th>
                            </TableHeader>
                            <RowTemplate Context="subscription">
                                <td>@subscription.StockNumber</td>
                                <td>@subscription.InvestorName</td>
                                <td style="text-align:center">@subscription.StockIssueDate.ToShortDateString()</td>
                                <td style="text-align:center">@(string.Format("{0:n0}", subscription.SharesIssured))</td>
                                <td style="text-align:center">@(string.Format("{0:C2}", subscription.PricePerShare))</td>
                                <td style="text-align:center">@(string.Format("{0:C2}", subscription.AmountReceived))</td>
                                <td style="text-align:center">@subscription.DateReceived.ToShortDateString()</td>
                                <td style="text-align:center">
                                    <Dropdown Direction="Direction.Up">
                                        <DropdownToggle Outline Size="Size.ExtraSmall" Color="Color.Primary"
                                        ToggleIconVisible="false">
                                            <span class="btn-label"><i class="fas fa-ellipsis-v"
                                                aria-hidden="true"></i></span>
                                        </DropdownToggle>
                                        <DropdownMenu class="border border-dark rounded-3 shadow-lg">
                                            <DropdownItem Clicked="@( () => ShowDetailDialog(@subscription.StockId) )">
                                                Details
                                            </DropdownItem>
                                            <DropdownItem Disabled=@( subscription.AmountReceived > 0 ) Clicked="@( () =>
                                            OnActionItemClicked("Edit", @subscription.StockId) )">
                                                Edit
                                            </DropdownItem>
                                            <DropdownItem Disabled=@( subscription.AmountReceived > 0 )
                                            Clicked="@( () => GetStockSubscription(@subscription.StockId) )">
                                                Delete
                                            </DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </td>
                            </RowTemplate>
                        </BasicGrid>
                        <CascadingValue Name="MetaData"
                        Value=@_stockSubscriptionState!.Value.StockSubscriptionList!.MetaData>
                            <CascadingValue Name="PagerChangedEventHandler" Value=@_pagerChangedEventHandler>
                                <DynamicPager />
                            </CascadingValue>
                        </CascadingValue>
                    }
                </CardBody>
                <CardFooter>
                    <Snackbar @ref="_snackbar" DefaultInterval=2000>
                        <SnackbarBody>
                            @_snackBarMessage
                        </SnackbarBody>
                    </Snackbar>
                </CardFooter>
            </Card>
        </Column>
    </Row>
</ErrorBoundary>