@page "/HumanResources/Pages/TimeCards"

@using PipefittersAccounting.SharedModel.Readmodels.HumanResources
@using PipefittersAccounting.UI.HumanResources.Components
@using Blazorise.DataGrid

<PageTitle>TimeCards</PageTitle>

@inject NavigationManager NavManager
@using Blazorise.Snackbar

<Heading TextColor="TextColor.Dark" Size="HeadingSize.Is5" Margin="Margin.Is3.FromStart.Is4.FromTop">
    TimeCards
</Heading>

<ErrorBoundary>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <Heading TextColor="TextColor.Dark" Size="HeadingSize.Is5" Margin="Margin.Is1.FromStart">
                        Managers
                    </Heading>
                </CardHeader>
                <CardBody>
                    @if (_managers is not null)
                    {
                        <DataGrid TItem="EmployeeManager" Data="@_managers" Editable="false" Striped="true" Hoverable="true"
                        Responsive="true" SelectedRowChanged="OnSelectedRowChanged" PageSize=20 Narrow>
                            <ChildContent>
                                <DataGridCommandColumn TItem="EmployeeManager"></DataGridCommandColumn>
                                <DataGridColumn TItem="EmployeeManager" Field="ManagerFullName" Caption="Manager"
                                Sortable="false" Displayable="true" />
                                <DataGridColumn TItem="EmployeeManager" Field="Group" Caption="Group" Sortable="false"
                                Displayable="true" />
                            </ChildContent>
                            <EmptyTemplate>
                                <div class="box">
                                    No records were found.
                                </div>
                            </EmptyTemplate>
                            <LoadingTemplate>
                                <div class="box">
                                    <progress class="progress is-small is-primary" max="100" />
                                </div>
                            </LoadingTemplate>
                        </DataGrid>
                    }
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.Is8">
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <Heading TextColor="TextColor.Dark" Size="HeadingSize.Is5" Margin="Margin.Is1.FromStart">
                        TimeCards
                    </Heading>
                </CardHeader>
                <CardBody>
                    @if (_timeCardReadModels is not null)
                    {
                        <Table Striped Hoverable Narrow ThemeContrast="ThemeContrast.Light">
                            <TableHeader>
                                <TableRow>
                                    <TableHeaderCell>Employee</TableHeaderCell>
                                    <TableHeaderCell style="text-align:center">Period Ended</TableHeaderCell>
                                    <TableHeaderCell style="text-align:center">Regular Hrs</TableHeaderCell>
                                    <TableHeaderCell style="text-align:center">Overtime Hrs</TableHeaderCell>
                                    <TableHeaderCell style="text-align:center">Edit</TableHeaderCell>
                                    <TableHeaderCell style="text-align:center">Delete</TableHeaderCell>
                                </TableRow>
                            </TableHeader>
                            <TableBody>
                                @if (_timeCardReadModels!.Any())
                                {
                                    foreach (var timeCardReadModel in _timeCardReadModels!)
                                    {
                                        <TableRow>
                                            <TableRowCell style="width:225px">@timeCardReadModel.EmployeeFullName</TableRowCell>
                                            <TableRowCell style="text-align:center">
                                                @timeCardReadModel.PayPeriodEnded.ToShortDateString()
                                            </TableRowCell>
                                            <TableRowCell style="text-align:center">@timeCardReadModel.RegularHours</TableRowCell>
                                            <TableRowCell style="text-align:center">@timeCardReadModel.OvertimeHours</TableRowCell>
                                            <TableRowCell style="text-align:center">
                                                <Button Color="Color.Primary" Size="Size.ExtraSmall"
                                                    Clicked=@( () => ShowEditModal(@timeCardReadModel) ) Outline>
                                                    <span><i class="fas fa-pen"></i></span>
                                                </Button>
                                            </TableRowCell>
                                            <TableRowCell style="text-align:center">
                                                <Button Color="Color.Danger" Size="Size.ExtraSmall"
                                                    Clicked=@( () => ShowDeleteModal(@timeCardReadModel) ) Outline>
                                                    <span><i class="far fa-trash-alt"></i></span>
                                                </Button>
                                            </TableRowCell>
                                        </TableRow>
                                    }
                                }
                                else
                                {
                                    <TableRow>
                                        <TableRowCell style="width:225px">No timecards found.</TableRowCell>
                                    </TableRow>
                                }
                            </TableBody>
                        </Table>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    }
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Snackbar @ref="_snackbar" DefaultInterval=1500)>
        <SnackbarBody>
            @_snackBarMessage
        </SnackbarBody>
    </Snackbar>
</ErrorBoundary>

<TimeCardEditDialog TimeCardWriteModel=@_selectedTimeCardWriteModel OnDialogCloseEventHandler=@OnEditDialogClosed
    ShowDialog=@_showEditDialog />

<TimeCardDeleteDialog TimeCardReadModel=@_selectedTimeCardReadModel OnDialogCloseEventHandler=@OnDeleteDialogClosed
    ShowDialog=@_showDeleteDialog />