@page "/Finance/Pages/Financiers/FinanciersListPage"
@using PipefittersAccounting.UI.Components.Common
@using PipefittersAccounting.UI.Finance.Components
@using Blazorise.Snackbar

<PageTitle>Financiers</PageTitle>

<Breadcrumb Margin="Margin.Is2.FromStart" Mode="BreadcrumbMode.Auto">
    <BreadcrumbItem>
        <BreadcrumbLink To="/">Home</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <BreadcrumbLink To="/Finance/FinanceStartPage">Creditors/Investors</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <BreadcrumbLink To="Finance/Pages/Financiers/FinanciersListPage">Financiers</BreadcrumbLink>
    </BreadcrumbItem>
</Breadcrumb>

<Heading TextColor="TextColor.Dark" Size="HeadingSize.Is5" Margin="Margin.Is3.FromStart.Is1.FromTop">
    Financiers
</Heading>

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <a href="Finance/Pages/Financiers/FinancierCreatePage"
                            class="btn btn-labeled btn-lg btn-outline-primary rounded-pill" role="button">
                            <span class="btn-label"><i class="fas fa-plus"></i></span>
                        </a>
                    </div>
                    <div class="col-md-5">
                        <SingleFieldGridSearch PlaceHolderText=@_placeHolderTextForSearch
                            OnSearchTermChangedEventHandler=@SearchChanged />
                    </div>
                </div>
            </CardHeader>
            <CardBody>
                @if (_financierList is not null && _financierList.Any())
                {
                    <BasicGrid Items=_financierList>
                        <TableHeader>
                            <th>Name</th>
                            <th>Telephone</th>
                            <th>Contact</th>
                            <th>Contact Tel.</th>
                            <th>Loans</th>
                            <th>Stocks</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </TableHeader>
                        <RowTemplate Context="financier">
                            <td>@financier.FinancierName</td>
                            <td>@financier.Telephone</td>
                            <td>@financier.ContactFullName</td>
                            <td>@financier.ContactTelephone</td>
                            <td>@financier.Loans</td>
                            <td>@financier.Stocks</td>
                            <td>@(financier.IsActive ? "Yes" : "No")</td>
                            <td>
                                <Dropdown Direction="Direction.Up">
                                    <DropdownToggle Outline Size="Size.ExtraSmall" Color="Color.Primary">
                                        <span class="btn-label"><i class="fas fa-ellipsis-v" aria-hidden="true"></i></span>
                                    </DropdownToggle>
                                    <DropdownMenu class="border border-dark rounded-3 shadow-lg">
                                        <DropdownItem Clicked="@( () => ShowDetailDialog(@financier.FinancierId) )">
                                            Details
                                        </DropdownItem>
                                        <DropdownItem
                                        Clicked="@( () => OnActionItemClicked("Edit", @financier.FinancierId) )">
                                            Edit
                                        </DropdownItem>
                                        <DropdownItem Clicked="@( () => ShowDeleteModal(@financier.FinancierId) )"
                                        Disabled="@( financier.Loans > 0 || financier.Stocks > 0 )">
                                            Delete
                                        </DropdownItem>
                                    </DropdownMenu>
                                </Dropdown>
                            </td>
                        </RowTemplate>
                    </BasicGrid>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
            </CardBody>
            <CardFooter>
                <CascadingValue Name="MetaData" Value=@_metaData>
                    <CascadingValue Name="PagerChangedEventHandler" Value=@_pagerChangedEventHandler>
                        <DynamicPager />
                    </CascadingValue>
                </CascadingValue>

                <Snackbar @ref="_snackbar" DefaultInterval=2000>
                    <SnackbarBody>
                        @_snackarMessage
                    </SnackbarBody>
                </Snackbar>
            </CardFooter>
        </Card>
    </Column>
</Row>

<ErrorBoundary>
    <Modal @ref="_deleteModalRef">
        <ModalContent Size="ModalSize.Default">
            <ModalHeader>
                <ModalTitle>@_modalTitle</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                @_modalMessage
                <Alert Color="Color.Warning" Margin="Margin.Is3.FromTop" Visible>
                    <AlertMessage>Careful:</AlertMessage>
                    <AlertDescription>This cannot be undone!</AlertDescription>
                </Alert>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@( () => HideDeleteModal("cancel") )">Cancel Delete</Button>
                <Button Color="Color.Danger" Loading="@_isLoading" Clicked="@( ()=> HideDeleteModal("delete") )">Delete
                    Financier</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</ErrorBoundary>

<FinancierDetailDialog FinancierId=@_selectedFinancierId />