@page
@model PipefittersAccounting.WebApi.Pages.Users.EditorModel
@{
    ViewData["Title"] = "Edit an accounting application login";
}

<h6 class="bg-primary text-white p-2">@ViewData["Title"]</h6>

<form asp-page="Editor" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>ID</label>
        <input name="Id" class="form-control" value="@Model.DomainUser.Id" disabled />
        <input name="Id" type="hidden" value="@Model.DomainUser.Id" />
    </div>
    <div class="form-group">
        <label>User Name</label>
        <input name="UserName" class="form-control" value="@Model.DomainUser.UserName" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name="Email" class="form-control" value="@Model.DomainUser.Email" />
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="Password" class="form-control" value="@Model.DomainUser.Password" />
    </div>
    <button type="submit" class="btn btn-warning">Submit</button>
    <a class="btn btn-secondary" asp-page="list">Back</a>
</form>
